{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/Style1.css' %}">
</head>
<body>

<div class="home-container">
  <h1>Select Department</h1>

  <div class="dept-box" onclick="goToSemester()">Computer Science and Technology</div>
  <div class="dept-box" onclick="goToSemester()">Civil Engineering</div>
  <div class="dept-box" onclick="goToSemester()">Electrical Engineering</div>
  <div class="dept-box" onclick="goToSemester()">Mechanical Engineering</div>
</div>

<script>
function goToSemester() {
  window.location.href = "{% url 'semester' %}";
}
</script>

</body>
</html>