<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester System</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/Style2.css' %}">
</head>

<body>
<div class="container">
    
    
    <div class="title">SEMESTER SYSTEM</div>
    <br>
    <div class="semester">
        <button class="sem-btn">1 SEMESTER</button>
        <button class="sem-btn">2 SEMESTER</button>
        <button class="sem-btn">3 SEMESTER</button>
        <button class="sem-btn">4 SEMESTER</button>
        <button class="sem-btn">5 SEMESTER</button>
        <button class="sem-btn">6 SEMESTER</button>
    </div>
    <hr>
    <hr>
    <!-- Subject Section -->
    <div class="subject-section">
        <h3 class="subject-title">Subject</h3>
        <button class="subject-btn">Subject</button>
    </div>
</div>

</body>
</html>