<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester {{ sem_no }} PDF Upload</title>

   {% load static %}
<link rel="stylesheet" href="{% static 'css/style3.css' %}">

</head>
<body>

<div class="container">

    <h1>Semester {{ sem_no }} PDF Upload</h1>

    <!-- Upload Form -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" 
               name="pdf_file" 
               accept=".pdf" 
               required>

        <button type="submit">
            Upload PDF
        </button>
    </form>

    <hr>

    <h2>Uploaded PDFs</h2>

    <!-- Uploaded PDF List -->
    {% for pdf in pdfs %}

       <div class="pdf-box">

    <a href="{{ pdf.pdf_file.url }}"
       target="_blank"
       class="pdf-link">
        📄 {{ pdf.pdf_file.name }}
    </a>

    <div class="action-buttons">

        <a href="{{ pdf.pdf_file.url }}"
           download
           class="download-btn">
            Download
        </a>

        <a href="{% url 'delete_pdf' pdf.id %}"
           class="delete-btn">
            Delete
        </a>

    </div>

</div>

    {% empty %}

        <p>No PDF uploaded yet.</p>

    {% endfor %}

</div>

</body>
</html>